.container {
    .slider {
        margin-top: 65px;
        .slick-list {
            height: 376px;
        }
    }
    .events {
        padding-top: 1%;
        background: #fafafa;
        .ant-card {
            .ant-card-body {
                padding: 13px 17px;
                .ant-card-meta-avatar {
                    width: 110px;
                    padding-right: 5px;
                    border-right: 1px solid #dad0d0;
                    margin-right: 15px;
                }
            }
        }
    }
}