.event-details-container {
    margin-top: 5%;
    .background {
        background-color: white;
        padding: 20px 20px;
        margin: 10px 10px;
        border: 1px solid #eee;
        border-radius: 7px;
    }
    .event-details-wrapper {
        .ev-container {
            .ev-header {
                display: flex;
                justify-content: center;
                .title {
                    font-size: 23px;
                    width: 90%;
                    height: 30px;
                    white-space: nowrap;
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .date {
                    height: 50px;
                    width: 54px;
                    padding: 3px 6px;
                    margin-right: 2%;
                    border: 1px solid #dca3ad;
                    background-color: #fef0ff;
                    display: flex;
                    border-radius: 8px;
                    font-weight: 700;
                    flex-direction: column;
                    span {
                        text-align: center;
                    }
                }
            }
            .ev-details {
                margin-left: 9%;
                font-size: 12px;
                .register-before {
                    font-weight: 600;
                    span {
                        font-weight: 100;
                    }
                }
            }
            .ev-description {
                padding: 5% 5%;
                border: 1px solid #afa5a5;
                border-radius: 10px;
            }
        }
       
    }

    .right-panel {
        .location {
            padding-bottom: 6%;
            .ant-row {
                padding-bottom: 2%;
            }
        }
    }
}
.success-text {
    text-align: center;
    color: #4ba757;
    font-weight: 600;
}
.react-add-to-calendar__wrapper, .react-add-to-calendar__dropdown {
    a {
        color: #03A9F4;
    }
    a:hover {
        color: tomato;
        text-decoration: underline;
    }
}

.yes-no-buttons-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .button {
        // flex: 1 1 100px;
        // text-align: center;
        // cursor: pointer;
        color: #fff;
        // width: 40%;
    }
    .button.yesButton{
        background-color: #41A746;
    }
    .button.noButton{
        background-color: #DC3B45;
    }
    .yesButton:hover, .yesButton:focus, .yesButton:visited{
        color: #fff;
        border-color: #41A746;
    }
    .noButton:hover, .noButton:focus, .noButton:visited{
        color: #fff;
        border-color: #DC3B45;
    }
}