.ant-layout-content {
    background-color: #f0f2f5 !important;
    margin: 0px !important;
    padding: 0px !important;
}

.online {
    margin: 1% 35%;
    position: fixed;
    top: -5px;
    z-index: 11;
}