.ant-card-meta-avatar {
    display: flex;
    width: 80px;
}

.ant-card-meta-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-card-meta-title {
    white-space: normal;
}

.card-avatar {
    .time {
        font-size: 12px;
        text-align: center;
        color: #888581;
    }
}

.ant-card-actions {
    li {
        // margin: 10px 0px !important;
    }
}
.ant-card-meta-title {
    font-weight: 800 !important;
    margin-bottom: 0% !important;
    font-size: 18px !important;
}
.ant-card-meta-description {

}