.ant-carousel .slick-slide {
    text-align: center;
    height: 360px;
    line-height: 360px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }


@media (min-width: 320px) and (max-width: 480px) {
  .slick-list {
      height: 180px !important;
  }
}
@media (min-width: 480px) and (max-width: 700px) {
  .slick-list {
      height: 180px !important;
      .ant-carousel .slick-slide img {
          height: 200px !important;
      }
  }
}