.container {
    .slider {
        margin-top: 65px;
    }
    .events {
        padding-top: 1%;
        .card-container {
            padding: 0px;
            margin: 10px 5px;
        }
        .card-container:hover {
            box-shadow: 1px 13px 19px 4px #c1b9b9;
        }
    }
}