.attendees-container {
    margin: 2% 1%;
    .title {
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px
    }
    .user-container {
        padding: 8px 1px;
        background: white;
        border-radius: 8px;
        box-shadow: 7px 4px 6px #ada8a800;
        margin: 10px;
        border: 1px solid #a79797;
        .ant-avatar-string {
            position: unset;
        }
        .ant-avatar {
            width: 60px;
            height: 60px;
        }
    }
    .user-container:hover {
        box-shadow:  3px 5px 20px 5px #ada8a8;
        cursor: pointer;
    }

    .team-container {
        padding: 8px 1px;
        background: white;
        border-radius: 8px;
        box-shadow: 7px 4px 6px #ada8a800;
        margin: 10px;
        border: 1px solid #a79797;
        .ant-avatar-string {
            position: unset;
        }
        .ant-avatar {
            width: 25px;
            height: 25px;
            line-height: 26px;
        }
    }
    .team-container:hover {
        box-shadow:  3px 5px 20px 5px #ada8a8;
        cursor: pointer;
    }
}