.create-team-button-wrapper{
    text-align: center;
    .create-team-button{
        border-color: #f32000;
        background-color: #f32000;
        color: #ffffff;
        font-weight: bold;
    }

    .create-team-button:hover{
        background-color: #db1f06;
        border: 1px solid #db1f06;
        color: #fff;
    }
}

.show-team{
    display: flex;
    align-items: center;
    .team-name{
        margin-right: 10px;
    }
}
.showcasable-url{
    margin-top: 10px !important;
    a{
        text-decoration: none;
    }
}