.event-container {
    margin: 10% 15%;
    border: 1px solid #bbabab;
    background: white;
    border-radius: 20px;
    padding: 1%;

    .ant-row {
        padding-bottom: 3%;
    }
    .ant-divider-horizontal {
        margin: 15px 0px;
    }
    .header {
        text-align: center;
        padding: 0px !important;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 700;
    }

    .form {
        padding: 2%;
        .error-message {
            text-align: center;
            color: red;
            font-size: 14px;
            letter-spacing: 2px;
            font-weight: 800;
        }
        .ant-radio-group{
            display: flex;
            .ant-radio-wrapper {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
}

.demo-wrapper {
    padding-top: 3px;
    .rdw-dropdown-selectedtext {
        color: #000;
    }
    .rdw-dropdown-optionwrapper {
        overflow: hidden;
    }
}
.demo-editor {
    border: 1px solid #9a9a9a47;
    padding: 1%;
}

.rdw-link-modal{
    height: 220px;
    border: 1px solid #96969694;
}
.rdw-remove-wrapper, .rdw-embedded-wrapper {
    display: none;
}
.desc {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    padding-left: 2px;
}

.public-DraftStyleDefault-block {
    margin: 1px 0px;
}